.project-item {
  display: block;
  background-color: rgba(3, 41, 57, 1);
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 40px;
  @media (max-width: 625px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    display: block;
    font-weight: 300;
    color: #2cbadb;
    padding-left: 6px;
    border-left: 3px solid #2cbadb;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 35px;
    font-family: 'PT Mono', monospace;
    @media (max-width: 650px) {
      margin-bottom: 25px;
    }
  }
  &__display {
    display: flex;
    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    align-items: flex-end;
    @media (max-width: 650px) {
      margin-left: 10px;
      width: 98%;
    }
    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__button {
    display: block;
    margin-bottom: 10px;
  }
  &__img {
    margin-bottom: 30px;
    text-align: center;
    width: 400px;
    height: auto;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #2cbadb;
    @media (max-width: 590px) {
      margin-right: 0;
      margin-bottom: 10px;
      width: 90%;
    }
  }
  &__img-modal {
    max-width: 500px;
    height: auto;
  }
  &__description {
    color: #2cbadb;
    margin-top: 20px;
    line-height: 1.4;
    border-top: 1px solid #2cbadb;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'PT Mono', monospace;
    @media (max-width: 590px) {
      margin-top: 0;
    }
  }
  &__tags {
    &__container {
      text-align: end;
      margin-top: 0;
      margin-bottom: 20px;
    }
    color: #2cbadb;
    margin-bottom: 5px;
    font-size: 1rem;
    font-family: 'PT Mono', monospace;
    @media (max-width: 590px) {
      display: block;
    }
  }
}

.links {
  display: flex;
  align-content: center;
  align-items: center;
  a {
    margin-left: 10px;
  }
}
